<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hang.BaiduAI.FaceWeb.Demo.Net40.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Hang.BaiduAI.FaceWeb.Demo.Net40.Properties.Settings>
            <setting name="apiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="secretKey" serializeAs="String">
                <value />
            </setting>
            <setting name="idCardPath" serializeAs="String">
                <value />
            </setting>
        </Hang.BaiduAI.FaceWeb.Demo.Net40.Properties.Settings>
    </userSettings>
</configuration>